* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.img-bg-1{
    background-image: url("../img/ABOUT-BG.webp");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
}
.img-bg-1A{
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}
.img-bg-1A h1{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
}

.home-about{
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(51,67,117);
}
.home-about a{
    text-decoration: none;
    color: rgb(51,67,117);
}
.home-about a:hover{
    color: rgb(0, 174, 239);
}
.home-about i:hover{
    color: rgb(0, 174, 239);
}


.map iframe{
    margin: 50px 0px 0px 100px;
    width: 80%;
}
.bg-form{
    display: flex;
    margin-top: 30px;
}
.bg-green{
    background-color: rgb(0, 174, 239);
    height: 380px;
    width: 350px;
    margin-left: 100px;
    border-radius: 5px;
    color: white;
}
.bg-green h5{
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    font-weight: 600;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
    
}
.bg-green p{
    line-height: 1.9;
    font-size: 14px;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: -20px;

}
.form-heading h1{
    margin: 0px 0px 0px 30px;
}
.form-heading .line{
    height: 4px;
    width: 70px;
    background-color: rgb(0, 174, 239);
    margin: 15px 0px 0px 30px;
}

.from-input{
    margin: 30px 0px 0px 30px;
}
.from-input input{
    height: 45px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 50px;
    border: 1px solid gray;
}
.from-input textarea{
    padding-left: 10px;
    margin-right: 50px;
    border: 1px solid gray;
    padding-top: 20px;
    margin-top: 30px;
    width: 700px;
    
}
.from-input button{
    margin-top: 30px;
    height: 40px;
    width: 150px;
    background-color: #00aeef;
    color: white;
    border: none;
    font-weight: bold;
}
.from-input button:hover{
    color: #00aeef;
    background-color: white;
    border: 2px solid #00aeef;
}